.body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #292d26;
    height: 650px;
}

.titulo{
  font-size: 35px;
}

.subtituloContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.texto {
  flex: 1;
  font-size: 22px;
}

.imagemContainer img{
  background-color: #6B3F25; 
  border-radius: 10px;
}