.navbar {
  background-color: #e3dfd4    ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    margin-left: 50px;
    font-size: 24px;
    padding: 10px;
}

.opcoes {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-right: 50px;
  padding:10px;
}

.opcao {
  color: #2a1d21  ;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 0 15px;  
  
}

.opcao:hover {
  color: #bc6c25 ;
}

.cadastro{
  font-weight: bold;
  padding: 5px;
  margin: 0 15px;
  margin-left: 50px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
}

.cadastro:hover {
  background-color: #473235 ;
  color: #ffffff;
}   
  